<style>
  #box-container {
    background: gray;
    display: flex;
    height: 300px;
    flex-wrap: wrap;
    
  }
  #box-1 {
    background-color: dodgerblue;
    width: 20%;
    height: 50%;
  }

  #box-2 {
    background-color: orangered;
    width: 20%;
    height: 50%;
  }
  #box-3 {
    background-color: violet;
    width: 20%;
    height: 50%;
  }
  #box-4 {
    background-color: yellow;
    width: 20%;
    height: 50%;
  }
  #box-5 {
    background-color: green;
    width: 20%;
    height: 50%;
  }
  #box-6 {
    background-color: black;
    width: 20%;
    height: 50%;
  }
</style>

<div id="box-container">
  <div id="box-1"></div>
  <div id="box-2"></div>
  <div id="box-3"></div>
  <div id="box-4"></div>
  <div id="box-5"></div>
  <div id="box-6"></div>
</div>