<!-- flex command has 3 parameters 1 is flex-grow 2nd is flex-shrink and the third one is flex-basis -->
<style> 
  #box-container {
    display: flex;
    height: 500px;
  }
  #box-1 {
    background-color: dodgerblue;

    
    flex: 2 2 400px;
    height: 200px;
  }

  #box-2 {
    background-color: orangered;
    flex: 1 1 400px;
    height: 200px;
  }
</style>
<!-- flex command has 3 parameters 1 is flex-grow 2nd is flex-shrink and the third one is flex-basis -->
<div id="box-container">
  <div id="box-1"></div>
  <div id="box-2"></div>
</div>

<!-- -->