<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">

<style>
    [type='radio']{
        margin:20px;
    }
    [type='checkbox']{
        margin:10px 0px 15px 0px;
    }
    #cat_photo_form{
        background-color: aqua;
        font-size: 12px;
        font-style: bold;

    }
    .background_silver {
        background-color: silver;
    }
    .smaller-image{
        width: 150px;
    }
    .thick-green-border{
        border-color: green;
        border-width: 10px;
        border-style: solid;
        border-radius: 50%;
    }
    .pedorreta {
        color: cadetblue;
        font-size: x-large;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    p {
        font-size: 30px;
        font-family: Helvetica,monospace;
    }
    h2 { font-family: Lobster;

    }
</style>

<h2 style="color: red;">CatPhotoApp</h2>
<main>
  <p>Click here to view more <a href="#">cat photos</a>.</p>
  
  <a href="#"><img class="smaller-image thick-green-border"src="https://bit.ly/fcc-relaxing-cat" alt="A cute orange cat lying on its back."></a>
  
  <div class="background_silver">
    <p class="pedorreta">Things cats love:</p>
    <ul>
      <li>cat nip</li>
      <li>laser pointers</li>
      <li>lasagna</li>
    </ul>
    <p>Top 3 things cats hate:</p>
    <ol>
      <li>flea treatment</li>
      <li>thunder</li>
      <li>other cats</li>
    </ol>
  </div>
  
  <form id="cat_photo_form" action="/submit-cat-photo">
    <label><input type="radio" name="indoor-outdoor" checked> Indoor</label>
    <label><input type="radio" name="indoor-outdoor"> Outdoor</label><br>
    <label><input type="checkbox" name="personality" checked> Loving</label>
    <label><input type="checkbox" name="personality"> Lazy</label>
    <label><input type="checkbox" name="personality"> Energetic</label><br>
    <input type="text" placeholder="cat photo URL" required>
    <button type="submit">Submit</button>
  </form>
</main>